@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 14px 18px 14px 18px;

    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    border-radius: 8px;
    background: rgba(82, 195, 3, 1);
    border: none;

    cursor: pointer;
}

.btn-container {
    text-align: center;
}

#hero {
    background: linear-gradient(0deg,
            rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1),
            rgba(16, 16, 16, 0) 100%),
        url("../assets/hero-bg.png");
    height: 615px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hero .hero-content {
    width: 685px;
}

#hero .hero-content .subtitle {
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}

#hero .hero-content .title {
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

#hero .hero-content .description {
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;

    opacity: 0.7;
    margin-bottom: 32px;
}

.card-box {
    width: 884px;
    margin: 0100px auto;
}

.card-box .info{

}

.card-box .title {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.card-box .subtitle {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

.card-container{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Work Sans;
}

.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .image-box{
    width: 250px;
}

.card .image-box img{
    width: 100%;
}

.card .shop{
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 10px 18px 10px 18px;
}